

<h3 class="centered-heading">Login</h3>
<div class="login-container">
    
    
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter Email" [(ngModel)]="email" name="userEmail" required>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter Password" [(ngModel)]="password" name="userPassword" required>
    </div>

    <button class="login-button" (click)="login()">Login</button>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
